/* css file*/
/* Courtesy by Dr. Y. Richard Yang */

body { font-family:      Arial,helvetica,sans-serif;
       color:            black;
       background-color: white;
     }

ul,ol,menu   { font-family: arial,helvetica,sans-serif }

dl   { font-family: arial,helvetica,sans-serif
     }

p    { font-family: arial,helvetica,sans-serif  }

pre  { margin-left: 5%; 
       font-family: "courier new",courier,monospace;
     } 

h2,h3,h4  {color: #000099;
           font-family: arial,helvetica,sans-serif;
           font-weight: bold; 
           margin-left: 0%;  }

div.leftmarg {margin-left: 5%;
        font-family: arial,helvetica,sans-serif}

a:active  {color: #0000ff; text-decoration: underline}
a:visited {color: #800080; }

table,th,td {
  border:1px solid black;
  vertical-align:center
  text-align:center;
}

table.schedule {
  border-collapse:collapse;
  cellpadding:1
  cellspacing:0
  width:90%
}

table.data {
  border-collapse:collapse;
  cellpadding:1
  cellspacing:0
}

table.index {
  text-align:left;
  padding:2;
}

td.slno {
  text-align:center;
  width:5%
}

td.sdate {
  text-align:center;
  width:5%
}

td.stmain {
  text-align:center;
  width:10%
}

td.stsub {
  text-align:center;
  width:20%
}

td.stread {
  text-align:center;
  width:10%
}

td.spread {
  text-align:center;
  width:20%
}

td.swset {
  text-align:center;
  width:20%
}

td.spset {
  text-align:center;
  width:10%
}

td.sspecial {
  text-align:center
  colspan:4
}

td.exam {
  text-align:left
}

p.lastupdate {
  text-align:left;
  font-style:italic;
/*  font-size:75%*/
}

.note    {color: orange;}
.warning {color: red; font-weight: bold}
